body {
    
}

.jumbotron {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, white, 30%,#0052cc );
    color: white;
    border-bottom: 5px solid black ;
    margin-bottom: 0em;
    
}

.row {
    margin-bottom: 0;
}

.leftSide {
    background-color: lightgray;
    height: 300px;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 200px;
}

.rightSide {
    background-color: lightseagreen;
    height: 200px;
    width: 600px;
    align-self: flex-end;
    margin-left: 20px;

}

.dayforcast {
    background-color: black;
    height: 200px;
    width: 200px;
    border:1px solid black;
}

footer {
    background-color: #0052cc;
    height: 75px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-top: 40px;
    
}

.debug {
    border: 2px solid red;
}