

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, white, 30%,#0052cc );
    color: white;
    border-bottom: 5px solid black ;
    margin-bottom: 0em;
    
}
